.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: center; */
  background-color: var(--sidebar-bg-color);
  border-right: var(--sidebar-border);
}
.top-side-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-direction: column;
}
.bottom-side-nav {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}
.sidebar-icons {
  cursor: pointer;
  position: relative;
  display: block;
}
.icon-div {
  position: relative;
}
.icon-div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  width: 5px;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--side-bar-active-bar);
  opacity: 0;

  transition: opacity 0.7s ease;
}
.icon-div.active::before {
  opacity: 1;
}
.sidebar-icons:hover {
  scale: 1.2;
  transition: scale 0.3s ease-in-out;
}
.mode-div {
  background-color: white;
  border-radius: 40px;
  padding: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.mode-wrapper {
  cursor: pointer;
  border-radius: 100%;
  padding: 4px;
}
.active-mode {
  background-color: #34caa5;
  border-radius: 100%;
  padding: 4px;
  transition: all 0.3s ease-in-out;
}
.closeIcon {
  width: 30px;
  height: 30px;
}
.close-div {
  display: none;
}
@media (max-width: 646px) {
  .sidebar {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transform: translateX(150%);
  }
  .close-div {
    display: block;
  }
  .sidebarOpen {
    display: flex;
    position: fixed;
    transform: translateX(0%);
    right: 0;
    left: auto;
    opacity: 1;
    visibility: visible;
    top: 0;
    bottom: 0;
    z-index: 30;
    transition: all 0.4s ease-in-out;
  }
  .top-side-nav,
  .bottom-side-nav {
    gap: 1.2rem;
  }
}
